html,
body {
  background-color: #111111;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#video {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  #video {
    object-fit: fill !important;
  }
}
@media (min-width: 1201px) {
  #video {
    width: 100%;
    height: auto;
  }
}